/* Google Fonts Material */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
}

.sembunyi {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

/* Header start */
header {
    top: 0;
    background-color: #854B50;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

#judul {
    width: fit-content;
}

h1 {
    background-color: #854B50;
    margin: 8px 20px 8px 20px;
    color: white;
}

/* Menu start */
#menu {
    display: flex;
    width: auto;
}

/* Search box start */
#input-search {
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 3px;
    font-size: 12pt;
    width: fit-content;
    /* padding: 5px; */
    /* border-radius: 1000px; */
}

#search-bar {
    background-color: white;
    margin: 10px 20px 10px 20px;
    width: 100%;
    /* top: 0; */
    /* padding: 0 10px 0 10px; */
    border-radius: 1000px;
}

#search-bar button {
    background-color: transparent;
    border: transparent;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}

#searching {
    padding: 5px 0 0 15px;
}

/* Search box end */

/* Dark mode toggle start */
#darkMode {
    /* margin: 1em 1em 0 0; */
    margin: auto;
    margin-right: 1em;
    color: white;
    /* width: 100%; */
}

#darkMode span {
    cursor: pointer;
}

#darkMode button {
    background-color: transparent;
    border: transparent;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}

#darkToggle {
    display: none;
}

/* Dark mode effect start */
.dark {
    background-color: black;
    color: #CAC1B0;
}

.light {
    background-color: #CAC1B0;
}

.light-input {
    color: black;
}

.dark-input {
    color: white;
}
/* Dark mode effect end */
/* Dark mode toggle end */
/* Menu end */
/* Header End */

/* Section input buku start */
#input-section {
    /* background-color: aquamarine; */
    /* width: min-content; */
    text-align: center;
    align-items: center;
    /* padding: 2em; */
    width: 50%;
    margin: 1em auto;
    /* display: flex; */
    /* flex-direction: column; */
}

#input-section p {
    font-size: 16pt;
}

#input-buku {
    border: #854B50 3px solid;
    border-radius: 20px;
}

#input-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

#input-button button {
    /* background-color: #8693A0; */
    background-color: #854B50;
    color: white;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
    border-radius: 1000px;
    border-width: 0;
    cursor: pointer;
    font-size: 12pt;
    transition: all 300ms ease;
}

#input-button button:hover {
    background-color: #907970;
    transition: all 300ms ease;
}

.input {
    margin: 1em;
}

.input input {
    border-radius: 100px;
    border-style: solid;
    border-color: #854B50;
    background-color: transparent;
    outline: none;
    width: 90%;
    height: 2em;
    padding-left: 1em;
    font-size: 12pt;
}

.input label {
    font-size: 16pt;
    font-weight: bolder;
}

/* Section input buku end */

/* Section rak buku start */
#rak-buku-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}

.rak-buku {
    margin: 1em;
}

.rak-buku h2 {
    margin: 1em;
    text-align: center;
}

.rak-buku button {
    border-color: transparent;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 300ms ease;
}

.tandaiSelesaiDibaca:hover {
    color: lime;
}

.tandaiBelumDibaca:hover {
    color: yellow;
}

.hapus:hover {
    color: red;
}

.daftarBuku {
    border: #854B50 3px solid;
    border-radius: 20px;
    padding: 1em;
}

.isi {
    background-color: #907970;
    border-radius: 20px;
    padding: 1em;
    margin: 0.5em;
    color: white;
}

.isi h3 {
    margin: 0;
}

.buttons {
    text-align: right;
}

/* Section rak buku end */

@media screen and (max-width: 665px) {
    h1 {
        display: none;
    }

    #input-section {
        width: auto;
        margin: 1em;
    }
}